@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import "../styles/variable";

body {
    margin: 0;
    color: $kasa_pink;
    font-family: 'Montserrat', sans-serif;      
    user-select: none;
}

.main_body {
    margin: 28px 6vw;
}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.detail p {
    color: black;
    font-weight: 700;
}

@media (min-width:320px) and (max-width:800px) {
    .main_body {
        margin: 15px;
    }
    
}