@import "../../styles/variable";

.tag {
    background: $kasa_pink;
    min-width: 84px; 
    height: 25px;
    border-radius: 10px;
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0 15px;
}